@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  @media (min-width: 768px) {
    background: url("/bg4.png") no-repeat center center fixed;
    background-size: cover;
  }
  @media (max-width: 768px) {
    background: url("/mobilebg.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .shadow-white-glow {
    box-shadow: 0 4px 24px 0 rgba(255, 255, 255, 0.25);
  }
  .drop-shadow-hero {
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.5))
      drop-shadow(0 2px 4px rgba(0, 0, 0, 0.7));
  }
}
