@import "./shared.scss";

.letter {
  @include header-font;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  line-height: 3rem;
  border: none;
  flex: 1;
  transition: all 0.3s ease;
  outline-width: 0;
  cursor: pointer;

  &:hover {
    text-shadow: 0px 50px 20px white;
  }

  &.fadeIn {
    animation-duration: 2s;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }

  &.selected {
    z-index: 1;
    text-shadow: 0px 0px 5px rgb(172, 123, 233);
    animation-duration: 0.5s;
    animation-name: selectIt;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    font-size: 2rem;
    transform: translateY(5px);
  }

  &.unselected {
    animation-duration: 0.5s;
    animation-name: unselectIt;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }

  @include desktop {
    font-size: 2rem;
    line-height: 6rem;

    &.selected {
      font-size: 6rem;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes selectIt {
  0% {
    font-size: 1rem;
    @include desktop {
      font-size: 3rem;
    }
  }

  70% {
    transform: translateY(35px);
    font-size: 2rem;
    @include desktop {
      font-size: 6rem;
    }
  }

  100% {
    transform: translateY(5px);
  }
}

@keyframes unselectIt {
  0% {
    font-size: 2rem;
    transform: translateY(5px);
    @include desktop {
      font-size: 6rem;
    }
  }

  30% {
    transform: translateY(25px);
  }

  100% {
    font-size: 1rem;
    @include desktop {
      font-size: 3rem;
    }
  }
}
